
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
 }
 /*<nav>*/
 nav{
    background-color:  rgb(85, 49, 1);
    margin-top: -1.3%;
    margin-left: -1%;
    margin-right: -0.6%;
    
   }
   nav li{
    padding-right: 100px;
    }
   nav a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
   }
   nav a p{
    margin: 6%;
   }
   nav li :hover{
    color: black;
    margin-top: 10%;
   }
   

   nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 5px;
   }

   nav ul div img{
    margin: 5%;
    margin-left: 10%;
   }
/*</nav>*/

/*<header>*/
header h1{
    color: rgb(255, 188, 44);
    font-family:'Times New Roman', Times, serif;
    margin-left: 12px;
}

header{
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
}

/*</header>*/

/*<main>*/
   main .imagemevento a{
    display: flex;
    align-items: center;
    margin-left: 10%;
   }
  main .imagemevento h2{
    text-decoration: none;
    color: white;
  }
   main .imagemevento a img{
    border-radius: 2%;
    margin-left: 5%;
   } 
   main .imagemevento1 a{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
   }
  main .imagemevento1 h2{
    text-decoration: none;
    color: white;
  }
   main .imagemevento1 a img{
    border-radius: 2%;
    margin-left: 13%;
   }
   main .suareserva h1{
    color: rgb(255, 188, 44);
    font-family:'Times New Roman', Times, serif;
    margin-left: 12px;
   }
   main .reserva .suareserva{
      display: flex;
      margin-left: 30px;
      margin-top: 50px;
   }
   main .reserva a{
    display: flex;
    margin-left: 10%;
   margin-top: 4%;
   text-decoration: none;
   color: white;
   }
   main .pai{
    margin-left: 77%;
    margin-top: -38%;
   }
/*</main>*/

/*<footer>*/
   footer a{
    text-align: center;
    margin: 20px;
    color: white;
    text-decoration: none;
   }
   footer p {
    margin-top: 2px;
   }
    
   footer{
    display: flex; 
    justify-content: center;
   }
  /*</footer>*/
   